@import url('https://fonts.googleapis.com/css2?family=Inder&family=Inter:wght@400;500&display=swap');

:root {
--font-inter: 'Inter', sans-serif;
--font-inder: 'Inder', sans-serif;
}

.react-datepicker__month-container {
  width: 100%;
}

.react-datepicker__day {
width: 1.9rem;
line-height: 1.9rem;
}

/* .react.datepicker_week {

} */